/* App.css */

body, html, #root {
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: left;
}

.App-header {
  background-color: #003135;
  color: #ffffff;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
}

.map-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  padding: 100px;
}

.leaflet-container {
  height: 80vh; /* Take 80% of the viewport height */
  width: 80vw;  /* Take 80% of the viewport width */
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
}

h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
}