.about-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #003135;
    color: #ffffff;
    padding: 5rem 1rem;
    font-family: 'Quicksand', sans-serif;
    position: relative;
    flex-wrap: wrap; 
}

.about-image {
    width: 600px;
    height: 500px;
    border-radius: 15px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.5);
    object-fit: cover;
    transition: transform 0.3s ease;
    margin: 1rem;
}

.about-image:hover {
    transform: scale(1.05);
}

.about-text {
    width: 50%;
    padding: 2rem;
    text-align: center;
    text-wrap: balance;
}

.about-text h2 {
    font-size: 3rem;
    font-weight: bold;
    color: #afdde5;
    margin-bottom: 1rem;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

.about-text p {
    font-size: 1.25rem;
    color: #cfd7d7;
    line-height: 1.6;
    margin-bottom: 1.5rem;
}

.highlight {
    color: #27e2a4;
    font-weight: bold;
}

.about-button {
    background-color: #afdde5;
    color: #003135;
    font-size: 1.2rem;
    padding: 0.8rem 2rem;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

.about-button:hover {
    background-color: #ffffff;
    transform: scale(1.05);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.4);
}

@media (max-width: 768px) {
    .about-container {
        flex-direction: column;
        padding: 2rem 1rem;
    }

    .about-image {
        width: 80%;
        height: 200px;
        margin-bottom: 0.5rem;
    }

    .about-text {
        width: 100%;
        padding: 1rem;
        text-align: center;
    }

    .about-text h2 {
        font-size: 2rem;
    }

    .about-text p {
        font-size: 1rem;
    }

    .about-button {
        font-size: 1rem;
        padding: 0.6rem 1.5rem;
    }
}