.navbar {
    background-color: #003135;
    padding: 1.5rem 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    top: 0;
    z-index: 10;
    font-family: 'Quicksand', sans-serif;
    font-weight: 650;
    color: #AFDDE5;
    transition: all 0.3s ease;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar .logo {
    width: 5%;
    font-size: 1.5rem;
    font-weight: bold;
    color: #AFDDE5;
    cursor: pointer;
    transition: color 0.3s ease;
}

.desktopMenu .desktopMenuListItem {
    margin: 0 1rem;
    cursor: pointer;
    color: #AFDDE5;
    transition: color 0.3s ease;
}

.desktopMenuListItem:hover {
    color: #AFDDE5;
    padding-bottom: 0.3rem;
    border-bottom: 2px solid #8ABFB2;
}

.customLink {
    color: inherit;
    text-decoration: none;
    transition: color 0.3s ease;
}

.customLink:hover,
.customLink.active {
    color: #8ABFB2;
}

.getStartedBtn .customButton {
    background-color: #AFDDE5;
    color: #003135;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background 0.3s ease, color 0.3s ease;
}

.customButton:hover {
    background-color: #fff;
    color: #003135;
}

.mobMenu {
    display: none;
    color: #AFDDE5;
    cursor: pointer;
}

.navMenu {
    position: absolute;
    top: 5rem;
    right: 1rem;
    width: 200px;
    padding: 1rem;
    background-color: #01332B;
    border-radius: 1rem;
    display: none;
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, opacity 0.3s ease;
}

.navMenu.show {
    display: flex;
}

.listItem {
    color: #AFDDE5;
    padding: 0.5rem;
    margin: 0.25rem 0;
    border-radius: 0.25rem;
    transition: background 0.3s ease, color 0.3s ease;
}

.listItem:hover {
    background-color: #AFDDE5;
    color: #003135;
}

.loginbtn {
    background-color: transparent;
    color: #8ABFB2;
}
.sidenav {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border-radius: 4px;
    gap: 1em;
}

@media screen and (max-width: 720px) {
    .desktopMenu {
        display: none;
    }

    .mobMenu {
        display: flex;
    }

    .getStartedBtn {
        display: none;
    }
}